.artist-list {
  line-height: 100%;  
}

.artist-list .list-group-item:first-child {
  border-top: none;
  border-radius: 0;
}

.artist-list .list-group-item:hover {
  background-color: #f8f9fa;
}

.artist-list a:hover {
  text-decoration: none;
}